<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>
Question: <%= @question%><br><br>
Coach: <%= @answer%><br><br>
<form action="/answer" method="get">
  <%= link_to "Ask a new question" , ask_path%>
 </form>

